<footer class="mastfoot mt-auto">
  <div class="container text-muted py-4">
    <div class="row justify-content-center">
      <div class="col-auto px-1">
        <p>Powered by <a href="https://tuft.dev" target="_blank">Tuft</a>.</p>
      </div>
      <div class="col-auto px-1">
        <p>Copyright &copy; 2020 Stuart Kennedy.</p>
      </div>
    </div>
  </div>
</footer>
