<footer class="mastfoot mt-auto">
  <div class="inner text-center text-muted">
    <p>Powered by <a href="https://tuft.dev" target="_blank">Tuft</a>.</p>
    <p>Copyright &copy; 2020 Stuart Kennedy.</p>
    <br>
  </div>
</footer>
