<footer class="mastfoot mt-auto">
  <div class="container text-muted py-4">
    <div class="row justify-content-center">
      <div class="col-auto px-1">
        <p>Powered by <a href="https://tuft.dev" target="_blank" rel="noopener">Tuft</a>.</p>
      </div>
      <div class="col-auto px-1">
        <p>&copy; 2020 Stuart Kennedy.</p>
      </div>
    </div>
    <div class="row justify-content-center d-flex align-items-center">
      <p>View the project on <a href="https://github.com/rav2040/knck" target="_blank" rel="noopener">GitHub</a>.</p>
    </div>
  </div>
</footer>
