<!doctype html>
<html lang="en">
<%- include('partials/head') %>
<body>
  <main role="main" class="inner cover text-center">
    <div id="main-container" class="position-relative">
      <h1 id="title">knck</h1>
      <br>
      <h4 id="subtitle" class="text-muted">URL too long? <span class="text-dark"><em>Kn</em></span>o<span class="text-dark"><em>ck</em></span> it down to size!</h4>
        <form id="form" class="pt-3" action="/" method="POST">
          <div class="form-group col-md-2 mx-auto px-1">
            <input type="url" class="form-control px-3 py-4" id="url" placeholder="Enter a URL" name="url">
            <button type="submit" class="btn btn-primary btn-lg my-3 text-no-wrap">Shorten</button>
          </div>
        </form>
    </div>
  </main>
  <%- include('partials/footer') %>
</body>

</html>
