@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400&display=swap');

html,
body {
  height: 100%;
  background-color: #eee;
}

body {
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
}

.col {
  padding: 0;
  margin: auto;
}

#main-container {
  top: 15vh;
}

#title {
  font-size: 6em;
  font-family: 'Fira Mono', monospace;
  color: #333;
}

.text-faded {
  color: #bbb;
}

@media only screen and (max-height: 520px) {
  #main-container {
    top: 5vh;
  }

  footer {
    display: none;
  }
}
